body {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    font-family: "Figtree", sans-serif;
    background-color: #D5E1EF;
    min-height: 100vh;
    flex: 1;
}

section {
    width: 33%;
    height: 80%;
    grid-template-columns: 1fr;
    border: solid 2px black;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px #000000;
    padding: 10px;
    margin-top: 50px;
    background-color: white;
}

section img {
    width: 100%;
    border-radius: 20px;

}

h3 {
    font-weight: bolder;
}

h4 {
    background-color: #D5E1EF;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
}

#subtitle-h4 {
    color: #000000;
    font-size: smaller;
    font-weight: bold;
}

p {
    color: #808080;
}

#author {
    display: flex;
    align-items: center;

}

#author img {
    width: 8%;
    border-radius: 100%;
}

#author p {
    font-weight: bold;
    padding-left: 10px;
    color: #000000;
    font-size: smaller;
}

footer {
    display: fixed;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    section {
        width: 45%;
    }
}


@media screen and (max-width: 480px) {

    section {
        width: 80%;
        height: 80%;
    }

}